%h1.text-center
  User Weights
.row
  .large-9.large-centered.columns
    .form
      %button.weight_button Enter new weight
      .form_div
        =render 'form'
.row
  .large-9.large-centered.columns
    .weights
      - @weights.reverse.each do |weight|
        = render "weight", weight: weight
      