%h1.text-center
  Weights Feed
.row
  .large-9.large-centered.columns
    .form
      %button.weight_button Enter new weight
      .form_div
        = render 'weights/form'
.row
  .large-6.large-centered.columns.weights.backs
    - @weights.each do |weight|
      = render "weight", weight: weight
      