img{
  min-width: 100%;
  height: auto;
}

.weight-box{
  width: 650px;
  display: inline-block;
  position: relative;
  padding: 20px;
  border-bottom: #6500A8 solid 1px;
  border-left: #6500A8 solid 1px;
  float: left;
}
/*.spacing{
  width:100px;
  height: 20px;
}*/
.first-inner-box{
  width: 100px;
  float: left;
}
.inner-box{
  width: 500px;
  float: left;
  padding-left: 10px;
}
.weight-box-profile_pic{
  width: 100px;
  height: auto;
}

.weight-box-name{
  height: 30px;
  font-weight: bold;
}
.weight-box-name a{
  color: #6500A8;
}
.weight{
  width: 240px;
  float: left;
  padding-bottom: 5px;
}

.weight-num{
  font-weight: bold;
  color: #6500A8;
}
/*.weight-box-pic{

}
.pic-box{

}*/
.weight-box-info{
  color: #6500A8;
  padding-top: 10px;
}
.weight-box-comments{
  padding-top: 10px;
}

.form_div { 
  display: none; 
}
.show_form{
  width: 300px;
  display: block;
}
.comment-box{
  background-color: #E8CDFA;
  padding: 5px;
  margin-top: 5px;
}
.edit-box{
  background-color: #E8CDFA;
}