img{
  min-width: 100%;
  height: auto;
}

.weight-box{
  width: 100%;
  display: inline-block;
  position: relative;
  // padding: 20px;
  border-bottom: white solid 2px;
  padding:10px;
}
/*.spacing{
  width:100px;
  height: 20px;
}*/
.chart-box{
  background-color: white;
  border-radius:5px;
  margin: 5px;
  padding:10px;
  width: 100%;
}
.profile-info{
  background-color:white;
  border-radius:5px;
  padding: 0px;
  .first-inner-box{
    width: 100px;
    float: left;
    color: #ED3812;

  }
  .inner-box{

    float: left;
    padding: 10px;

  }
  .weight-box-profile_pic{
    height: auto;
    // border-right: 1px #ED3812 solid;
  }

  .weight-box-name{
    height: 30px;
    font-weight: bold;
  }
  .weight-box-name a{
    color: #ED3812;
  }
  .weight{
    width: 100%;
    float: left;
    padding-bottom: 5px;
    // border: 1px solid red;
  }

  .weight-num{
    font-weight: bold;
    color: #ED3812;
  }
}

/*.weight-box-pic{

}
.pic-box{

}*/
.weight-box-info{
  color: #ED3812;
  padding-top: 10px;
}
.weight-box-comments{
  padding-top: 10px;
}

.form_div { 
  display: none; 
}
.show_form{
  width: 50%;
  display: block;
}
.comment-box{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.singlecomment{
  padding: 5px;
  background-color: #FCBAAC;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
}
// .edit-box{
//   background-color: #ED3812;
// }